@import "../variables";
@import "../config";

body {
    min-width: 1500px;
    min-height: 100vh;
    max-height: fit-content;
    overflow: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-3;
    background: black;
    @include body;

    &::-webkit-scrollbar {
        display: none;
    }

    .playstation {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;

        #comp-hero-set,
        #your-hero-set {
            margin: 20px;
            width: 1000px;
            height: 500px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            color: $color-1;
        }
    }

    .record-board {
        margin: 20px;
        display: flex;
        flex-flow: column;

        form {
            margin: 20px 0;

            fieldset {
                padding: 20px;
            }
        }

        #result {
            @include subtitle;
        }

        button {
            @include button;
            border-radius: 10px;
        }
    }
}