* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@mixin title {
    font: map-get($font-weight, "L") map-get($font-size, "L") $font-family;
}

@mixin subtitle {
    font: map-get($font-weight, "M") map-get($font-size, "M") $font-family;
}

@mixin body {
    font: map-get($font-weight, "S") map-get($font-size, "S") $font-family;
}

@mixin transition($duration: 0.5s) {
    transition: all $duration ease-in-out;
}

@mixin link {
    color: $color-1;
    text-decoration: none;

    &:hover {
        color: $color-2;
    }
}

@mixin button {
    margin: 20px;
    border: solid;
    border-radius: 50%;
    padding: 15px 20px;
    color: $color-1;
    background: $color-3;
    cursor: pointer;
}