$color-1: #3d405b;
$color-2: #f2cc8f; 
$color-3: #f4f1de;

$font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

$font-weight: (
    "S": 400,
    "M": 600,
    "L": 800
);

$font-size: (
    "S": 1.25rem,
    "M": 1.5rem,
    "L": 3rem
);