@import "variables";
@import "config";

body {
    min-width: 1000px;
    overflow: scroll;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 5vh auto 5vh;
    color: $color-3;
    background: $color-1;
    @include body;

    &::-webkit-scrollbar {
        display: none;
    }
}

header {
    grid-area: 1 / 1 / span 1 / span 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $color-1;
    background: $color-3;

    .title {
        @include title;
    }

    .menu-nav {
        a {
            margin: 0 20px;
            @include link;
        }
    }
}

main {
    grid-area: 2 / 1 / span 1 / span 1;
    display: flex;
    flex-flow: wrap;
    
    .game-card {
        margin: 30px;
        border: solid $color-3;
        border-radius: 20px;
        width: 300px;
        height: 400px;
        max-width: 300px;
        max-height: 400px;
        flex: 0 0 100%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        position: relative;
        color: $color-1;
        background: $color-2;

        img {
            border-radius: 50%;
            width: 90%;
        }

        span {
            margin: 20px;
            @include subtitle;
        }

        a {
            margin: 10px;
            border-radius: 50%;
            padding: 15px;
            position: absolute;
            bottom: 0;
            right: 0;
            background: rgba($color-1, 0.2);
            @include link;

            &:hover {
                color: $color-1;
                animation: animate 1s ease-in-out infinite;
            }
        }
    }
}

footer {
    grid-area: 3 / 1 / span 1 / span 1;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 10px;
}

@keyframes animate {
    0% {
        transform: translate(0px);
    }

    50% {
        transform: translate(10px, -10px);
    }

    100% {
        transform: translate(0px);
    }
}