@import "../variables";
@import "../config";

body {
    min-width: 800px;
    min-height: 100vh;
    max-height: fit-content;
    overflow: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-3;
    background: black;
    @include body;

    &::-webkit-scrollbar {
        display: none;
    }

    .record-board {
        margin: 20px;
        
        form {
            margin: 30px 0;

            fieldset {
                padding: 20px;
            }
        }

        #result {
            @include subtitle;
        }
    }

    .play-station {
        margin: 20px;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;

        div {
            margin: 20px;
        }

        button {
            @include button;
            @include title;
        }
    }
}